* {
    box-sizing: border-box;
    margin: 0px;
}

.game-mode{
  background-image: url("/img/background.png");
  background-size:cover;
  background-repeat: no-repeat;
  width:100%;
  height: 100vh;
  position:relative;
}

.small-box{
  width:100%;
  height:10vh;
  justify-content: center;
  display:flex;
}
.small-logo{
  background-image: url("/img/logo-removebg.png");
  background-size:65px;
  background-repeat: no-repeat;
  margin-left: 1180px;
  width:35%;
  height:100%;
}

.title-box{
  width:100%;
  height:29vh;
  justify-content: center;
  display: inline-flex;
}
.title{
 background-image: url("/img/Game\ Mode.png");
  background-size: 50%;
  background-repeat: no-repeat;
   background-position: center; 
  width:70%;
  height:100%;
}

.box{
  width:100%;
  height: 215px;
  justify-content: space-evenly;
  display:flex;
}
.one{
  background-image: url("/img/1.jpg");
}
.three{
  background-image: url("/img/3.jpg");
}
.five{
  background-image: url("/img/5.jpg");
}
.one, .three, .five{
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width:100%;
  height:100%;
  border-radius: 30px;
  cursor: pointer;
  border: 3px solid black;
  /* box-shadow: 0px 4px 10px rgba(0,0,0,0.3); */
}
.box a{
  width: 15%;
  height: 100%;
}
/* .three{
 background-image: url("/img/3.jpg");
 background-repeat: no-repeat;
 background-position: center;
 background-size: 180px;
 width:35vh;
 height:35vh;
 border-radius: 30px;
 cursor:pointer;
}
.five{
  background-image: url("/img/5.jpg");
  width:35vh;
  height:35vh;
  background-size: 180px;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 30px;
  cursor:pointer;
} */
.one:hover{
    box-shadow: 5px 5px 5px 10px rgba(0,0,0,0.3);
}
.three:hover{
    box-shadow: 5px 5px 5px 10px rgba(0,0,0,0.3);
}
.five:hover{
    box-shadow: 5px 5px 5px 10px rgba(0,0,0,0.3);
}
