*{
margin : 0px;
box-sizing: border-box;
}

.background{
    background-image: url(./img/background.png);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
}
.victory-box{
    width: 100%;
    height: 63vh;
    display: flex;
    justify-content: center;  
}
.victory{
    width: 120%;
    height: 58vh;
    background-image: url(./img/victory.png);
    background-size: 871px;
    background-repeat: no-repeat;
    background-position: center;
}
.options-container{
    width: 100%;
    height: 20vh;
    display: flex;
    justify-content:space-evenly;  
   
}
.play-box,.exit-box{
    width: 20%;
    height: 22vh;
    display: flex;
}
.play,.exit{
    width: 100%;
    height: 94%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.play{
    background-image: url(./img/play.png);
    background-position: left;
}

.exit{
    background-image: url(./img/exit.png);
    background-position: right;
}

